body {
  font-family: Arial, sans-serif;
  text-align:center;
  font-size: 16px;
}

#container {
  margin: 0 auto;
  width: 400px;
}

header {
  font-size: 32px
}

td, th {
  width: 60px;
  height: 45px;
}

td {
  background: white;
  color: #black;
}

th {
  font-size: 22px;
}

.Sun{
  color: #FF0000;
}

.Sat{
  color: #808080;
}

.week{
  color: #black
}

.grey{
  color: #F2F2F2;
}

p {
  text-align:left;
  color: #FF0000;
}
