body {
  font-family: Arial, sans-serif;
  text-align:center;
  font-size: 16px;
}

#container {
  margin: 0 auto;
  width: 400px;
}

header {
  font-size: 32px
}

td, th {
  width: 60px;
  height: 45px;
}

td {
  background: white;
  color: #black;
}

th {
  font-size: 22px;
}

.sun{
  color: #FF0000;
}

.sat{
  color: #808080;
}

.grey{
  color: #F2F2F2;
}
